<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Hello world!</title>
</head>
<body>
<div class="container">
    <div class="row h-100">
        <div class="col-sm-12 my-auto text-center">
            <h1 class="display-4">Hello!</h1>
            <p class="lead">Modify & create new routes in routes/web.php file</p>
        </div>
    </div>
</div>
</body>
</html>